

* {
    padding: unset;
    margin: unset;
    outline: unset;
    border: unset;

    /* propiedad magica de seteo */
    box-sizing: border-box;
    
    font-size: 16px;
    font-weight: 400;
}

body {
    color: #ffffff;
    font-family: "roboto",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #aeacaa;
    background-image:  url(assets/fondo\ reproductor.jpg);
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    gap: 150px;
}

ul { list-style: none;}

.seccion1 {
    display: flex;
    flex-direction: column;
    padding: 20px 60px 60px 20px;
    gap: 130px ;
    background: linear-gradient(#be030371,#11000073);

}

.apolo {
    display: flex;
    align-items: center;


}
.apolo a {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 20px;
}

.seccion2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 80px ;
    gap: 50px ;
}

.cancion img{
    display: flex;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.InfCancion {
    display: flex;
    flex-direction: column;
    align-items:start;
    color: #ffffff;
    gap: 20px;
}

.reproductor {
    display: flex;
    gap: 15px;

}

.seccion3 {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    gap: 20px;
    background: linear-gradient(#be030371,#11000073);
}
    
    


